{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>{{ category.title }}</title>
  <meta
    content="DigInnoCent s.r.o. is a dynamic and visionary company that transforms cutting-edge ideas into game-changing innovations that meet society's needs and surpass market demands."
    name="description"
  />
  <meta
    content="Digitalization, Sustainability, Advanced Materials, Structural Health Monitoring, SME, Consultation, Czech Republic, Czechia, life cycle thinking, value chain, safe sustainable by design, industry 4.0, artificial intelligence, robotics, data-driven, machine learning"
    name="keywords"
  />

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,400,600,700|Poppins:300,400,500,600,700"
    rel="stylesheet"
  />

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
</head>

<body>
  <!-- ======= Header ======= -->
  {% include 'partials/header.html' %}

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li>{{ category.title }}</li>
        </ol>
        <h2>{{ category.title }} offered by DIC</h2>
      </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Thematic research Section ======= -->
    <section id="R_D_I" class="values">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <p>Our Products and Services</p>
        </header>

        <div class="DIC-row-grid">
            {% for article in products %}
          <!-- Product 1 -->
          <div data-aos="fade-up" data-aos-delay="200">
            <div class="DIC-box">
              <img src="{{ article.images.all.first.image.url }}" class="img-fluid" alt="{{ article.images.all.first.alternative_text }}" />
              <h3>{{ article.title }}</h3>
              <p>
               {{ article.description }}
              </p>
              <a href="{% url 'products_details' %}?id={{ article.id }}" class="read-more">
                <span>Read More</span> <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
            {% endfor %}
          
        </div>
      </div>
    </section>
    <!-- End Values/ Thematic Research Section -->
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'partials/footer.html' %}

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>
